{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 shadow-lg offset-md-3 log-container">
      <h2>{% trans "Sign In" %}</h2>

      <p>{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      </div>
    </div><br>
    <div class="row">
      <div class="col-12 col-md-6 shadow-lg offset-md-3 log-container">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          <br>
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
          {% endif %}
          <button class="btn btn-log right" type="submit">{% trans "Sign In" %}</button>
          <a href="{% url 'home' %}" class="btn btn-log right">{% trans 'Back' %}</a>
          <br>
          <br>
        </form>
      </div>
    </div>
</div>

{% endblock %}
