body {
    background-color: #fdf8f4;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #343434;
}

.main-bg {
    background-color: #fdf8f4;
}

.nav {
    font-size: 22px;
}

.active {
    border-bottom: 2px solid #343434;
}

.card {
    border: none;
    background-color: transparent;
}

.card-list {
    background-color: rgba(194, 203, 212, 0.3);
    border-radius: 10%;
}

.edit-delete-icon {
    word-spacing: 60px;
}

.logo {
    color: #343434;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.banner-image {
    background: repeat center center;
    height: 150px;
}

.banner-text{
    font-family: 'Dancing Script', cursive;
    font-size: 400%;
    font-stretch: extra-expanded;
    color:#343434;
    position: absolute;
    bottom: 30%;
    left: 45%;
}
.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: rgb(87, 153, 225, 0.7);
}

.category {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #5799e1;
    color: #343434;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #5799e1;
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    transform: skew(10deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #343434;
}

.post-link:hover,
.page-link {
    color: #5799e1;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.btn-info {
    background-color: #5799e1;
    font-weight: 600;
}

.btn-info:hover {
    background-color: #fdf8f4;
    color:#5799e1;
    font-weight: 700;
}
.post-subtitle {
    margin-left: 5%;
    color: #343434;
}

.log-container {
    background-color: rgb(87, 153, 225, 0.3);
    border-radius: 10%;
}

.btn-log {
    background-color: #5799e1;
    color: #fff;
}

.btn-log:hover,
.btn-log:active {
    background-color: #fff;
    color: #5799e1;
}

.icon-bucketlist {
    color: #343434;
    text-decoration: none;
    word-spacing: normal;
}

.link {
    color: #5799e1;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #f38b4a;
    text-decoration: underline;
}

.btn-like {
    color: #343434;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #5799e1;
    background: transparent;
    border: none;
}

.alert-success {
    background-color: rgb(87, 153, 225, 0.7);
}

@media screen and (max-width: 600px){
    .banner-text {
       font-size: 150%;
       position: left;
    }
}