:root {
    --main-blue: #5799e1;
    --dark-gray: #343434;
    --gray-shadow: rgb(52, 52, 52, 0.5);
    --background-colour: #fff;
    --messages:  rgb(87, 153, 225, 0.5);
}

body {
    background-color: var(--background-colour);
}

.light-bg {
    background-color: var(--background-colour);
}

.dark-bg {
    background-color: var(--dark-gray);
}

.main-bg {
    background-color: var(--background-colour);
}
.nav {
    font-size: 22px;
}

.active {
    border-bottom: 2px solid var(--dark-gray);
}
.footer-link {
    color: var(--background-colour);
    font-size: 20px;
    text-decoration: none;
}

.footer-link:hover {
    color: var(--main-blue);
    font-size: 23px;
}
/* all headings gray and capitalised */
h1, h2, h3 {
    color: var(--dark-gray);
    text-transform: capitalize;
}
/* blog post card */
.card {
    border: none;
    background-color: transparent;
}

#msg{
    background-color: var(--messages);
    font-size: 20px;
}

/* Bucket List */

.btn-secondary {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 12px;
}

.btn-danger {
    font-size: 12px;
}

.logo {
    color: var(--dark-gray);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.banner-image {
    background: repeat center center;
    height: 150px;
}

.banner-text{
    font-family: 'Dancing Script', cursive;
    font-size: 400%;
    font-stretch: extra-expanded;
    color: var(--dark-gray);
    position: absolute;
    bottom: 30%;
    left: 45%;
}
.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: rgb(87, 153, 225, 0.7);
}

.category {
    color: white;
    margin: 4px;
    text-transform: uppercase;
    text-decoration: none;
}

.category:hover {
    color: var(--dark-gray);
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: var(--main-blue);
    color: var(--dark-gray);
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: var(--main-blue);
    -webkit-transform: skew(10deg);
    -moz-transform: skew(0deg);
    transform: skew(10deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: var(--dark-gray);
}

.post-link:hover,
.page-link {
    color: var(--main-blue);
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.btn-info {
    background-color: var(--main-blue);
    font-weight: 600;
}

.btn-info:hover {
    background-color: var(--background-colour);
    color: var(--main-blue);
    font-weight: 700;
}
.post-subtitle {
    margin-left: 5%;
    color: var(--dark-gray);
}

.log-container {
    background-color: rgb(87, 153, 225, 0.1);
}
.btn-log {
    background-color: var(--main-blue);
    color: #fff;
}

.btn-log:hover,
.btn-log:active {
    background-color: #fff;
    color: var(--main-blue);
}
.icon-bucketlist {
    color: var(--dark-gray);
    text-decoration: none;
    word-spacing: normal;
    background-color: var(--main-blue);
}

.icon-admin {
    color: var(--dark-gray);
    text-decoration: none;
}

.icon-bucketlist-delete {
    color: var(--dark-gray);
    text-decoration: none;
    word-spacing: normal;
    background-color: #d8383d;
}

.link {
    color: var(--main-blue);
    text-decoration: none;
}

.page-link{
    background-color: var(--main-blue);
    color: var(--background-colour);
}

.btn-like {
    color: var(--dark-gray);
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: var(--main-blue);
    background: transparent;
    border: none;
}

.btn-danger:hover {
    font-size: 20px;
}

.alert-success {
    background-color: var(--messages);
}

#edit_user:hover {
    color: var(--main-blue);
}

#msg_login {
    margin-top: 10%;
}

@media screen and (max-width: 600px){
    .banner-text {
       font-size: 150%;
    }
}
