{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}Error: 403{% endblock %}

{% block content %}

<div class="container">
    <div class="row h-100">
      <div class="col col-lg-6 col-md-8 col-sm-12 m-auto text-center p-3">
        <div class="card border-0">
          <img src="static/images/WHERE-NEXT-ERROR-LOGO.png" 
            class="card-img-top" alt="400 page image">
          <div class="card-body">
            <h1 class="card-title logo-text">Error 403</h1>
            <h4>
              <a href="{% url 'home' %}" class="btn btn-lg col-12 btn-outline-info text-uppercase py-2">Home</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

{%endblock%}