{% extends "base.html" %}
{% load static %}

{% block content %}
<br/>
<h1 class="text-center">Welcome to Where Next?</h1>

<div class="container">
    <div class="row row-cols-2">
      <div class="col-12 col-md-8 border border-dark">
        <br/><br/>
        <h2>About the Site</h2>
        <hr><br/>
        <h5>
          Where Next is the place to find and plan your next adventure.
        </h5><br/>
        <h5>
          Visit our blog page, where you will find lots of articles and information.<br/>
          For your convenience you can click on the category and view all that categories blogs. Handy when you want
          find your next destination!!<br><br>
          Create an account to give feedback to our Team. You can like and comment on our blog posts and much more.
        </h5>
      </div>
      <div class="col-12 col-md-4 border border-dark">
        <img class="img-fluid rounded mt-3 mb-4" src="/static/images/Where-Next.png" alt="where next image man on top of mountain">
      </div>
      <div class="col-12 col-md-4 border border-dark">
        <img class="img-fluid rounded mt-3 mb-4" src="/static/images/explain.png" alt="bucketlist poster of road">
      </div>
      <div class="col-12 col-md-8 align-middle border border-dark">
        <br/><br/>
        <h2>Create your own bucket list and plan your next trip.</h2><hr><br/>
        <h5>
          When your create your account you have access to your very own bucket list. Add and manage each item on your list.<br/>
          And whats more, you can make a plan on how to make that bucket list item a reailty. You can store any information you find,
          any links, pictures.
        </h5><br/><br/>
        <h5>Please scroll down to see na example!</h5>
        <h5>Join today for your very own</h5>
      </div>
    </div>
</div>

<div class="container text-center">
    <div class="row row-cols-2">
      <div class="col border border-dark">

      </div>
    </div>
</div>



<a href="{% url 'home' %}" class="btn btn-log">Back</a>

{%endblock%}