{% extends "base.html" %}
{% block title %}Add Buckelist Item{% endblock %}


{% block content %}

{% if user.is_authenticated %}
    <!-- Form to add an item to user bucket list -->
    <br>
    <div class="form-group p-3 col-12 col-md-6 shadow-lg offset-md-3 log-container">
        <br>
        <h1>Add Bucketlist Item</h1><br>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button class="btn btn-info">Add</button>
                <a href="{% url 'bucketlist' %}" class="btn btn-info">Back</a>
            </div>
            <br>
        </form>
    </div>

    <script>
        let name = "{{ user.id }}";
        document.getElementById("user").value 
            = name;
    </script>
{% else %}
    <h2>Please login: 
        <span><a href="{% url 'home' %}" class="btn btn-info">Back</a></span>
    </h2>
{% endif %}
{%endblock%}