{% extends "base.html" %}
{% block title %}Add Buckelist Item{% endblock %}


{% block content %}

{% if user.is_authenticated %}
    <!-- Form to add an item to user bucket list -->
    <br/>
    <h1 class="offset-md-2">Add Bucketlist Item</h1>

    <div class="form-group">
        <form method="POST" class="offset-md-2">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button class="btn btn-info">Add</button>
                <a href="{% url 'bucketlist' %}" class="btn btn-info">Back</a>
            </div>
        </form>
    </div>

    <script>
        let name = "{{ user.id }}";
        document.getElementById("user").value 
            = name;
    </script>
{% else %}
    <h2>Please login: 
        <span><a href="{% url 'home' %}" class="btn btn-info">Back</a></span>
    </h2>
{% endif %}
{%endblock%}