{% extends "base.html" %}
{% block title %}Buckelist{% endblock %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
<!-- current user: {{ user.username}} -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3 offset-md-2">
                <div class="row">
                    <h2> Your Bucketlist</h2>
                    {% for list in object_list %}
                    <br/>
                        {% if list.user_name.id == user.id %}
                        <div class="col-md-8">
                            <div class="card-list mb-8">
                                <div class="card-body-list">
                                    <div>Posted By: <strong>{{list.user_name.username}}</strong> on <strong>{{list.created_on}}</strong>
                                        <hr>
                                        {% if list.done %}
                                            <strike>{{ list.title }}</strike>
                                        {% else %}
                                            {{ list.title }}
                                        {% endif %}
                                        <br>
                                        <hr>
                                        <span class="edit-delete-icon offset-md-2">
                                            <a class="icon-bucketlist" href="{% url 'update_list_item' list.pk %}"><i class="fas fa-edit"></i></a>
                                            <a class="icon-bucketlist" href="{% url 'delete_list_item' list.pk %}"><i class="fas fa-trash"></i></a>
                                        </span>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>   
                        <br/> 
                        {% endif %}
                    {% endfor %}
                    <span>
                        <br/><br/>
                        <a class="btn btn-info" href="{% url 'add_list_item' %}">Add Item</a>
                        <a href="{% url 'home' %}" class="btn btn-info">  Back</a>
                    </span>
                
            </div>
        </div>
    </div>
{% else %}
    <h2>Please login: 
        <span><a href="{% url 'home' %}" class="btn btn-info">Back</a></span>
    </h2>
{% endif %}
{%endblock%}