{% extends "base.html" %}
{% block title %}Buckelist{% endblock %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
<!-- current user: {{ user.username}} -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3 offset-md-2">
                <div class="row">
                    <h2> Your Bucketlist</h2>
                    {% for list in object_list %}
                        {% if list.user_name.id == user.id %}
                            <div>Posted By: <strong>{{list.user_name.username}}</strong> on <strong>{{list.created_on}}</strong>
                                {% if list.done %}
                                    <br/><strike>{{ list.title }}</strike>
                                {% else %}
                                    <br/>{{ list.title }}
                                {% endif %}
                                <small><a href="{% url 'update_list_item' list.pk %}">Edit/Mark as Done</a></small>
                                <small><a href="{% url 'delete_list_item' list.pk %}">Delete</a></small>
                            <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <span><a class="btn btn-info" href="{% url 'add_list_item' %}">Add Item</a></span>
                    <br/><br/>
                    <span><a href="{% url 'home' %}" class="btn btn-info">Back</a></span>
            </div>
        </div>
    </div>
{% else %}
    <h2>Please login: 
        <span><a href="{% url 'home' %}" class="btn btn-info">Back</a></span>
    </h2>
{% endif %}
{%endblock%}