{% extends "base.html" %}
{% block title %}Delete Buckelist Item{% endblock %}


{% block content %}

{% if user.is_authenticated %}

    <h1>Delete Bucketlist Item</h1>
    <p>Are you sure you want to delete:</p> 
    <p>{{ list.title }}</p>
            
    <button class="btn btn-info">Delete Item</button>
    <a href="{% url 'bucketlist' %}" class="btn btn-info">Back</a>
{% else %}
    <h2>Please login: 
        <span><a href="{% url 'home' %}" class="btn btn-info">Back</a></span>
    </h2>
{% endif %}

{%endblock%}