{% extends "base.html" %}
{% block title %}Delete Buckelist Item{% endblock %}


{% block content %}

{% if user.is_authenticated %}
    <h1>Delete Bucketlist Item</h1>
    <h3>Delete: {{ list.title }}</h3>

    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            
            <button class="btn btn-info">Delete Item</button>
        </form>
    </div>
    <br/>
    <a href="{% url 'bucketlist' %}" class="btn btn-info">Back</a>
{% else %}
    <h2>Please login: 
        <span><a href="{% url 'home' %}" class="btn btn-info">Back</a></span>
    </h2>
{% endif %}

{%endblock%}