{% extends "base.html" %}
{% block title %}Buckelist{% endblock %}
{% load static %}

{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-3 masthead-text">
                <h1 class="post-title">Plan to make it a reality!!
                </h1>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="https://images.pexels.com/photos/163185/old-retro-antique-vintage-163185.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    width="100%">
            </div>
            <div class="col-md-3 masthead-text masthead-image">
            </div>

        </div>
    </div>
</div>

{% if user.is_authenticated %}
<div class="col-md-8 offset-md-2">
    <div class="card-list mb-4">
        <div class="card-body-list offset-md-3S">
            <br />
            {% for list in object_list %}
            {% if list.user_name.id == user.id %}
                <p>{{ list.planning }}</p>
            {% endif %}
            {% endfor %}
            <div class="offset-md-3">
            <br /><br />
                <a href="{% url 'bucketlist' %}" class="btn btn-info"> Back</a>
                </div>
        </div>
    </div>
</div>
{% else %}
    <h2>Please login:
        <span><a href="{% url 'home' %}" class="btn btn-info">Back</a></span>
    </h2>    
{% endif %} 


{%endblock%}