{% extends "base.html" %}
{% block title %}Add to Your Plan{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Form to add to the travel plan -->
{% if user.is_authenticated %}

    <div class="form-group p-3 col-12 col-md-6 shadow-lg offset-md-2 log-container"><br/>
        <h1>Plan your Trip Here for:</h1>
        <h5>{{ list.title }}</h5><br/>
        <form method="POST" class="col-12">
            {% csrf_token %}
            {{ form.media }}
            {{ form | crispy }}

            <div id="summernote"></div>
            <br/>
            <button class="btn btn-info">Update</button>
            <a href="{% url 'bucketlist' %}" class="btn btn-info">Back</a>
            <a href="{% url 'view_planning' list.pk %}" class="btn btn-info">Back to View Plan</a>
        </form>
    </div><br/><br/>
{% else %}
    <h2>Please login: 
        <span><a href="{% url 'home' %}" class="btn btn-info">Back</a></span>
    </h2>
{% endif %}

{%endblock%}