{% extends "base.html" %}
{% block title %}Add to Your Plan{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Form to add to the travel plan -->
{% if user.is_authenticated %}
    <h1 class="offset-md-2">Plan your Trip Here for:</h1>
    <h5 class="offset-md-2">{{ list.title }}</h5>

    <div class="form-group">
        <form method="POST" class="col-9 offset-md-2">
            {% csrf_token %}
            {{ form.media }}
            {{ form | crispy }}

            <div id="summernote"></div>
            <br/>
            <button class="btn btn-info">Update</button>
            <a href="{% url 'bucketlist' %}" class="btn btn-info">Back</a>
            <a href="{% url 'view_planning' list.pk %}" class="btn btn-info">Back to View Plan</a>
        </form>

    </div>
{% else %}
    <h2>Please login: 
        <span><a href="{% url 'home' %}" class="btn btn-info">Back</a></span>
    </h2>
{% endif %}

{%endblock%}