{% extends "base.html" %}
{% block title %}View Your Plans{% endblock %}

{% block content %}

<!-- Masthead and image for display plan for bucketlist item page -->
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-3 masthead-text">
                <h1 class="post-title">Plan to make it a reality!!
                </h1>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="https://images.pexels.com/photos/163185/old-retro-antique-vintage-163185.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    width="100%">
            </div>
            <div class="col-md-3 masthead-text masthead-image">
            </div>

        </div>
    </div>
</div>

<!-- Dsiplay the contents of the plan -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 mt-3 offset-md-2 rounded shadow-lg">
            {% if user.is_authenticated %}
                {% if list.user_name.id == user.id %}
                    <h5>Your Plan for: {{ list.title }}</h5>
                    <p>{{ list.planning | safe }}</p>
                {% endif %}
                <div class="offset-md-3">
                <br /><br />
                    <a href="{% url 'update_planning' list.pk %}" class="btn btn-info">Edit Plan</a>
                    <a href="{% url 'bucketlist' %}" class="btn btn-info"> Back</a>
                    <br/><br/>
                </div>
            {% else %}
                <h2>Please login:
                    <span><a href="{% url 'home' %}" class="btn btn-info">Back</a></span>
                </h2>
            {% endif %}  
        </div>
    </div>
</div> 
{%endblock%}